<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="head :: head"></head>

<body>
	<div id="root">
		<div th:replace="sidebar :: div#sidebar"></div>
		<div id="detail">
			<table border="1" class="table table-sm">
				<thead>
					<tr>
						<th> <input type="checkbox" name="all" onclick="checkAll(this)"> </th>
						<th>Name</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="b : ${banner}" th:data-href="${b.id}"
						ondblclick="location.href=location.pathname+'/'+this.dataset.href">
						<td><input type="checkbox" name="banner" th:value="${b.id}" th:data-id="${b.id}"></td>
						<td th:text="${b.name}"></td>
						<td> <a th:href="'/admin/banner/'+ ${b.id}"><button class="btn btn-warning">Editar</button></a>
						</td>
						<td> <button class="btn btn-danger" onclick="deleteItem(this)"
								th:data-id="${b.id}">Eliminar</button></td>
					</tr>
				</tbody>
			</table>
			<div class="d-grid gap-2 d-md-flex justify-content-md-end">
				<a href="/admin/product/0"><button class="btn btn-primary">Agregar</button></a>
				<button class="btn btn-primary" onclick="getChecked()">Modificar</button>
			</div>
		</div>
	</div>
	<script src="https://d34a9flj5lovc9.cloudfront.net/web/js/jquery-1.10.2.js.gz"></script>
	<script src="/script.js"></script>
</body>

</html>