<!DOCTYPE html>
<html>

<head th:replace="head :: head"></head>

<body>
	<div id="root">
		<div th:replace="sidebar :: div#sidebar"></div>
		<div id="detail">

			<table border="1" class="table">
				<thead>
					<tr>
						<th></th>
						<th>id</th>
						<th>Nombre</th>
						<th>Asunto</th>
						<th>Html</th>
						<th>Code</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="c : ${emailTemplates}" th:style="${c.cssStyle}" th:class="${c.cssClass}">
						<td><input type="checkbox" name="template" th:value="${c.id}"></td>
						<td th:text="${c.id}"></td>
						<td th:text="${c.name}"></td>
						<td th:text="${c.subject}"></td>
						<td th:text="${c.isHtml}"></td>
						<td th:text="${c.code}"></td>
						<td> <a th:href="'/admin/emailTemplate/'+ ${c.id}"><button
									class="btn btn-warning">Editar</button></a></td>
						<td><button class="btn btn-danger" onclick="deleteItem(this)"
								th:data-id="${c.id}">Eliminar</button></td>
					</tr>
				</tbody>
			</table>

			<div class="d-grid gap-2 d-md-flex justify-content-md-end">
				<a href="/admin/emailTemplate/0"><button class="btn btn-primary">Agregar</button></a>
			</div>
		</div>
	</div>

	<script src="https://d34a9flj5lovc9.cloudfront.net/web/js/jquery-1.10.2.js.gz"></script>
	<script src="/script.js"></script>
</body>

</html>