<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="head :: head"></head>

<body>
	<div id="root">

		<div th:replace="sidebar :: div#sidebar"></div>

		<div id="detail">
				<div>
				<form action="/admin/product" method="get">
					<input type="text" placeholder="title" id="title" name="title" />
					<input type="cod" placeholder="cod" id="cod" name="cod" />
					<select  name="category" id="category" aria-label="Default select example">
						<option disabled >Categoria</option>
						<option th:each="c : ${category}" th:value=" ${c.id}" th:text="${c.title}"></option>
					</select>
					<button>Filtrar</button>
					<input type="reset" value="clean">
				</form>

			</div>
			<table border="1" class="table">
				<thead>
					<tr>
						<th> <input type="checkbox" name="all" onclick="checkAll(this)"> </th>
						<th>Cod</th>
						<th>Titulo</th>
						<th>Categoria</th>
						<th>SubCategoria</th>
						<th>Precio actual</th>
						<th>Precio unitario</th>
						<th>IVA %</th>
						<th>Stock</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="p : ${products}" th:data-href="${p.id}" th:style="${p.cssStyle}"
						ondblclick="location.href=location.pathname+'/'+this.dataset.href">
						<td><input type="checkbox" name="product" th:value="${p.id}" th:data-id="${p.id}"></td>
						<td th:text="${p.cod}"></td>
						<td th:text="${p.title}"></td>
						<td th:text="${p.category.title}"></td>
						<td th:text="${p.subCategory.title}"></td>
						<td th:text="${p.current_price}"></td>
						<td th:text="${p.unit_price}"></td>
						<td th:text="${p.iva_price}+'%'"></td>
						<td th:text="${p.stock}"></td>
						<td> <a th:href="'/admin/product/'+ ${p.id}"><button class="btn btn-warning">Editar</button></a>
						</td>
						<td> <button class="btn btn-danger" onclick="deleteItem(this)"
								th:data-id="${p.id}">Eliminar</button></td>
					</tr>
				</tbody>
			</table>
			<div class="d-grid gap-2 d-md-flex justify-content-md-end">
				<a href="/admin/product/0"><button class="btn btn-primary">Agregar</button></a>
				<button class="btn btn-primary" onclick="getChecked()">Modificar</button>
			</div>
			<div class="d-flex justify-content-center">
				<ul class="pagination">
					<li class="page-item">
						<a class="page-link" href="#" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
					<li class="page-item"><a class="page-link" href="/admin/product?page=1">1</a></li>
					<li class="page-item"><a class="page-link" href="/admin/product?page=2">2</a></li>
					<li class="page-item"><a class="page-link" href="/admin/product?page=3">3</a></li>
					<li class="page-item">
						<a class="page-link" href="#" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<script src="https://d34a9flj5lovc9.cloudfront.net/web/js/jquery-1.10.2.js.gz"></script>
	<script src="/script.js"></script>
</body>

</html>