<html xmlns:th="http://www.thymeleaf.org">

<body>

	<div id="sidebar">
		<h1>NewCommerce Admin</h1>
		<form action="/logout">
			<button class="btn btn-danger">Logout</button>
		</form>
		<div>
			<form id="search-form" role="search">
				<input id="q" aria-label="Search contacts" placeholder="Search" type="search" name="q" />
				<div className="sr-only" aria-live="polite"></div>
			</form>
		</div>
		<nav>
			<ul>
				<li>
					<a href="/admin/purchase" data-href="purchase">Purchases</a>
				</li>

				<li>
					<a href="/admin/banner" data-href="banner">Banners</a>
				</li>
				<li>
					<a href="/admin/category" data-href="category">Category</a>
				</li>
				<li>
					<a href="/admin/subcategory" data-href="subcategory">Subcategory</a>
				</li>
				<li>
					<a href="/admin/email" data-href="email">email</a>
				</li>
				<li>
					<a href="/admin/landing" data-href="landing">Landing</a>
				</li>
				<li>
					<a href="/admin/ong" data-href="ong">ONG</a>
				</li>
				<li>
					<a href="/admin/payment" data-href="payment">Payment</a>
				</li>
				<li>
					<a href="/admin/product" data-href="product">Products</a>
				</li>
				<li>
					<a href="/admin/user" data-href="user">Users</a>
				</li>
			</ul>

		</nav>
	</div>
</body>

</html>