<!DOCTYPE html>
<html>

<head th:replace="head :: head"></head>

<body>
	<div id="root">

		<div th:replace="sidebar :: div#sidebar"></div>

		<div id="detail">
			<form action="/admin/user" method="post" th:object="${user}" enctype="multipart/form-data">

				<input type="text" th:field="*{id}" hidden="hidden">
				<label for="title" class="form-label">Username</label>
				<div class="input-group mb-3">
					<input type="text" class="form-control" placeholder="username" name="username" aria-label="username"
						aria-describedby="basic-addon1" th:field="*{username}">
				</div>
				<label for="picture" class="form-label">Email</label>
				<div class="input-group mb-3">
					<input type="text" class="form-control" placeholder="email" name="email" aria-label="email"
						aria-describedby="basic-addon1" th:field="*{email}">
				</div>

				<button id="submit">submit</button>
			</form>
		</div>
	</div>
	<script src="https://d34a9flj5lovc9.cloudfront.net/web/js/jquery-1.10.2.js.gz"></script>
	<script src="/script.js"></script>
</body>

</html>